/* index.css -- You can add your global styles here. If you're using any framework, the contents of this file can be safely deleted */

body {
	margin: 0;
	padding: 0;
	font-family: Lato, 'Noto Sans', Tahoma, Geneva, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body,
#root {
	display: flex;
	flex-direction: column;
}

header {
	height: auto;
}

main {
	flex: auto;
}

footer {
	height: auto;
}

button,
input,
label {
	font-family: inherit;
}
